<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-2.5.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
  http://www.springframework.org/schema/security
  http://www.springframework.org/schema/security/spring-security-2.0.xsd">

    <context:annotation-config/>
    <context:property-placeholder location="classpath:applicationConfig.properties"/>
    <context:component-scan base-package="com.topcoder.onlinereview.component" />
    <bean id="springContextProvider" class="com.cronos.onlinereview.ejblibrary.SpringContextProvider" 
          scope="singleton"/>

    <bean id="userPreferencelibrary" class="com.cronos.onlinereview.ejblibrary.UserPreference"
          scope="singleton"/>          

    <bean id="loginLibrary" class="com.cronos.onlinereview.ejblibrary.LoginLibrary">
        <constructor-arg type="java.lang.Long" value="28"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:jboss/datasources/TCS_CATALOG" />
    </bean>

    <bean id="oltpDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:jboss/datasources/OLTP" />
    </bean>

    <bean id="tcsDwDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:jboss/datasources/TCS_DW" />
    </bean>

    <bean id="commonDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:jboss/datasources/DS" />
    </bean>

    <bean id="tcsJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="tcsDwJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="tcsDwDataSource"/>
    </bean>

    <bean id="oltpJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="oltpDataSource"/>
    </bean>
    <bean id="commonJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="commonDataSource"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation">
            <value>classpath:securityGroupsHibernate.cfg.xml</value>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.max_fetch_depth">0</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="serviceOperation" expression="execution(* com.topcoder.onlinereview.component.security.groups.services.hibernate.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
    </aop:config>

    <bean id="authorizationService"
          class="com.topcoder.onlinereview.component.security.groups.services.hibernate.HibernateAuthorizationService"
          init-method="afterPropertiesSet">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="statusProjectValidator" class="com.cronos.onlinereview.util.StatusProjectValidator" />
    <bean id="phaseManager" class="com.topcoder.onlinereview.component.project.phase.PhaseManager" />
    <bean id="phaseManagerWithoutHandlers" class="com.topcoder.onlinereview.component.project.phase.PhaseManager" />
    <bean id="managerCreationHelper" class="com.cronos.onlinereview.util.ManagerCreationHelper" />
    <bean id="actionsHelper" class="com.cronos.onlinereview.util.ActionsHelper">
        <property name="managerCreationHelper" ref="managerCreationHelper"/>
    </bean>
</beans>
        
