*/ ----- Body ----- */


body { background: #fff;color:#000;text-align:left;font:11px/1.4em Arial;margin:10; }
P { font-size: 11px;color: #666;line-height: 15px;font-family: Arial,Verdana; }
TABLE { font-size:11px;line-height:15px;color:#666;font-family: Arial,Verdana; }
TD { font-size:11px;line-height:15px;font-family:Arial,Verdana; }


A:link { color:#000;text-decoration:underline; }
A:visited { color:#000;text-decoration:underline; }
A:active { color:#000;text-decoration:underline; }
A:hover { color:#000;text-decoration:underline; }


/* ----- Text Styles ----- */

.boldcontent { font-weight:bold; }
.boldcontentred { font-weight:bold;color:#8D093A; }

/* ----- End Divs ----- */

.buttonMain
{
	font-size: 11px;
	font-family: Arial,Verdana;
	font-weight: bold;
	color: #fff;
	background-color: #c00;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}

.buttonMain2
{
	font-size: 11px;
	font-family: Arial,Verdana;
	font-weight: bold;
	color: #fff;
	background-image:url(../../i/or/bck_button.gif);
	background-color: #c00;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}

.inputBox
{
	font-size: 10px;
	height: 18px;
	font-family: Arial,Verdana;
	color: #666;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

.rateRed
{
 	font-color: #ddcc00;
}

.rateYellow
{
	font-color: #00a900;
}
.rateBlue
{ 
	font-color: #ff9900;
}
.rateGreen
{ 
	font-color: #6666ff;
}
.rateGrey
{ 
	font-color: #ee0000;
}
.noRate
{
	font-color:  #999999;
}
