/* Body Style */
a
{
	color: #CC0000;
	text-decoration: none;
}

a: active
{
	color: #CC0000;
	text-decoration: none;
}

a: visited
{
	color: #CC0000;
	text-decoration: none;
}

a:hover { text-decoration: underline; }
a img { border: 0; }
a { outline: none; }


.admin { background-color: #6C6C6C; }

.adminBreadcrumb
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	background-color: #373737;
	padding: 6px;
}

.adminButton
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	background-color: #00F;
}

.adminControl
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	background-color: #777777;
}

.adminControlSmall
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	line-height: 12px;
	text-align: center;
	background-color: #777777;
}

.adminControlButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	background-color: #777777;
}

.adminControlForm
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	color: #000;
	font-style: normal;
	font-weight: normal;
}

.adminControlTitle
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	background-color: #777777;
	text-align: center;
}

.adminErrorText
{
	font-size: 12px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	background: #F00;
	padding: 2px;
}

.adminForm
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	color: #000;
	font-style: normal;
	font-weight: normal;
}

.adminLabel
{
	font-size: 12px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-align: right;
}

.adminLeftHead
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background: #505050;
	text-align: left;
}

.adminLeftNav { background: #BABABA url(../images/adminLeftNavBkgd.gif); }

.adminLeftNavSmall
{
	font-size: 10px;
	color: #505050;
	font-style: normal;
	font-weight: normal;
	line-height: 12px;
	padding-top: 3px;
	padding-bottom: 8px;
}

.adminLeftNavText
{
	font-size: 11px;
	color: #00F;
	font-style: normal;
	font-weight: bold;
	line-height: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.adminSearch
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	background-color: #6F6F6F;
}

.adminSmall
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.adminSubhead
{
	font-size: 17px;
	color: #333;
	font-weight: bold;
	font-style: normal;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.adminText
{
	font-size: 12px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
}

.adminTextCenter
{
	font-size: 12px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

.adminTitle
{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #6C6C6C;
	padding: 6px;
}

.adminTitleCenter
{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #6C6C6C;
	padding: 6px;
}

.adminTopNav
{
	color: #FFF;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	background: #4F4F4F url(../images/navBarAdminBkgd.gif);
}


.appSuiteIndexBody
{
	width: 510px;
	margin-top: 10px;
	text-align: left;
}

.appSuiteBody
{
	width: 100%;
	margin: 10px 0px 10px 0px;
	text-align: center;
}

.body
{
	background: #FFF;
	margin: 0px;
	border: 0px;
}

.bodyTextSm
{
	font-size: 11px;
	font-weight: normal;
}

.bodyText, .viewAll, .seeAll
{
	color: #333333;
	font-size: 12px;
	line-height: 1.4;
	font-weight: normal;
	text-align: left;
}

.seeAll { text-align: center; }
.viewAll { text-align: right; }

A.bodyText:link
{
	color: #CC0000;
	text-decoration: none;
}

A.bodyText:visited
{
	color: #CC0000;
	text-decoration: none;
}

A.bodyText:hover
{
	color: #CC0000;
	text-decoration: underline;
}

A.bodyText:active
{
	color: #CC0000;
	text-decoration: none;
}

.breadcrumb
{
	font-size: 11px;
	color: #666;
	font-style: normal;
	font-weight: normal;
	text-align: right;
	padding: 5px;
}

A.breadcrumbLinks:link
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
}

A.breadcrumbLinks:visited
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
}

A.breadcrumbLinks:hover
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}

A.breadcrumbLinks:active
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}

.catalogCategory, .catalogFoot
{
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #999999;
	padding: 5px;
}

.catalogTable A.catalogCategoryLink:link
{
	color: #FFFFFF;
	text-decoration: underline;
}

.catalogTable A.catalogCategoryLink:visited
{
	color: #FFFFFF;
	text-decoration: underline;
}

.catalogTable A.catalogCategoryLink:hover
{
	color: #FFFFFF;
	text-decoration: none;
}

.catalogTable A.catalogCategoryLink:active
{
	color: #FFFFFF;
	text-decoration: none;
}

/* New Catalog Graphics - Adroc */
#find-components { margin-top: 15px; }
#find-components h2 { padding-bottom: 20px; }

#find-components td
{
	padding: 15px 0 12px 10px;
	vertical-align: top;
	border-bottom: 1px #DDD solid;
}

#find-components td.browse
{
	background-image: url(../images/catalog/mx_grad.png);
	background-repeat: no-repeat;
	background-position: left 10px;
}

#find-components a
{
	color: #CC0000;
	font-size: 16px;
	text-decoration: none;
}

#find-components a:hover { text-decoration: underline; }
#find-components p { padding-top: 12px; }
/* End New */

.catalogFoot { padding: 5px; }

.catalogIndexCell
{
	border-bottom: 1px solid #999;
	padding: 8px 0px 8px 0px;
}

.catalogIndexHeader
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	white-space: nowrap;
	background-color: #FFFFFF;
	background-image: url(/images/header_grad.gif);
	padding: 5px 10px 5px 10px;
	border: 1px solid #999;
	margin: 10px 0 5px 0;
}

.catalogTable { background-color: #CCCCCC; }

.catalogText a:link { color: #333; text-decoration: underline; }
.catalogText a:visited { color: #666; text-decoration: underline; }
.catalogText a:hover { color: #CC0000; text-decoration: underline; }
.catalogText a:active { color: #333; text-decoration: underline; }

.catalogTextOdd, .catalogTextEven, .catalogText
{
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: left;
	padding: 5px;
}

.catalogText { padding: 0px; }
.catalogTextOdd { background-color: #FFFFFF; }
.catalogTextEven { background-color: #EEEEEE; }

.catalogType
{
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	font-style: normal;
	background-color: #777777;
	padding: 5px;
}

.comingSoon
{
	font-size: 10px;
	color: #CC0000;
	font-weight: bold;
	font-style: normal;
	white-space: nowrap;
}

.compSearch
{
	font-size: 11px;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;
	background-color: #777777;
}

.compSmall
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	line-height: 12px;
	background-color: #777777;
}

.compSearchButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	background-color: #777777;
}

.compSearchForm
{
	font-size: 12px;
	color: #000;
	font-style: normal;
	font-weight: normal;
}

.compSearchTitle
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	background-color: #777777;
	text-align: right;
}

.copyright
{
	font-size: 10px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	white-space: nowrap;
	background: #FFF;
	padding-top: 5px;
	padding-bottom: 15px;
}

.display
{
	font-size: 12px;
	text-align: left;
	line-height: 16px;
}

.download
{
	font-size: 10px;
	color: #FFF;
	font-weight: normal;
	font-style: normal;
	background: #E06666;
	padding: 2px;
}

A.download:link
{
	color: #FFF;
	text-decoration: none;
}

A.download:visited
{
	color: #FFF;
	text-decoration: none;
}

A.download:hover
{
	color: #FFF;
	text-decoration: underline;
	background: #F00;
}

A.download:active
{
	color: #FFF;
	text-decoration: underline;
	background: #F00;
}

.edit
{
	font-size: 10px;
	color: #FFF;
	font-weight: normal;
	font-style: normal;
	background: #7777F7;
	padding: 2px;
}

A.edit:link
{
	color: #FFF;
	text-decoration: none;
}

A.edit:visited
{
	color: #FFF;
	text-decoration: none;
}

A.edit:hover
{
	color: #FFF;
	text-decoration: underline;
	background: #00F;
}

A.edit:active
{
	color: #FFF;
	text-decoration: underline;
	background: #00F;
}

.errorSymbol
{
	font-size: 11px;
	color: #CC0000;
	font-weight: bold;
	padding: 0px;
}

.errorText
{
	font-size: 12px;
	color: #CC0000;
	font-style: normal;
	font-weight: bold;
	padding: 2px;
}

.footer
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	white-space: nowrap;
	background: #EEE;
	padding-top: 5px;
	padding-bottom: 5px;
}

.footerStripe { background: #CCC; }

A.footerLinks:link
{
	color: #CC0000;
	text-decoration: none;
}

A.footerLinks:visited
{
	color: #CC0000;
	text-decoration: none;
}

A.footerLinks:hover
{
	color: #CC0000;
	text-decoration: underline;
}

A.footerLinks:active
{
	color: #CC0000;
	text-decoration: underline;
}

.forumComponent
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	background-color: #EEE;
	padding: 5px;
}

.forumCompName
{
	font-size: 18px;
	color: #013466;
	font-weight: bold;
	font-style: normal;
	padding: 5px;
}

.forumDownloads
{
	font-size: 11px;
	color: #00F;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	line-height: 14px;
}

.forumBkgd { background-color: #bbbbbb;  }
.forumHeadFoot { background-color: #777777; }

.forumMessage
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 60px;
	padding-right: 60px;
}

.forumNewThread
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: right;
}

.forumReply
{
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	padding: 5px;
}

.forumSearch
{
	font-size: 11px;
	color: #000;
	font-style: normal;
	font-weight: normal;
	background-color: #FFF;
	padding: 5px;
}

.forumSearchButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}

.forumSearchForm
{
	font-size: 11px;
	color: #000;
	font-style: normal;
	font-weight: normal;
}

.forumSubtopic
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	background-color: #EEE;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 5px;
}

.forumSubject
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	background-color: #CCC;
	padding: 5px;
}

.forumSubjectCenter
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: center;
	background-color: #CCC;
	padding: 5px;
}

.forumSubjectMessage
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	background-color: #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 60px;
}

.forumText { font-size: 11px; }

.forumTextOdd
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: left;
	background-color: #FFF;
	padding: 5px;
}

.forumTextEven
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: left;
	background-color: #EEE;
	padding: 5px;
}

.forumTextCenterOdd
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	text-align: center;
	background-color: #FFF;
	padding: 5px;
}

.forumTextCenterEven
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: center;
	background-color: #EEE;
	padding: 5px;
}

.forumThreadEven
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	background-color: #EEE;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 5px;
}

.forumThreadOdd
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 5px;
}

.forumTitle
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #777777;
	padding: 5px;
}

A.forumTitleLink:link
{
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}

A.forumTitleLink:visited
{
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}

A.forumTitleLink:hover
{
	color: #FC3;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

A.forumTitleLink:active
{
	color: #FC3;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

.forumTitleRight
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #777777;
	padding: 5px;
}

.forumTitle2
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #eeeeee;
	padding: 5px;
}

.forumTitleCenter
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #777777;
	padding: 5px;
}

.forumUnits
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	background-color: #FC3;
	padding: 5px;
}

.foundItems
{
	font-size: 11px;
	color: #013466;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

H1
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 200%;
	text-decoration: none;
}

H2
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 150%;
	text-decoration: none;
}

H3
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 125%;
	text-decoration: none;
	margin: 12px 0 3px 0;
}

.head
{
	color: #FFF;
	background: #000;
}

.header
{
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	white-space: nowrap;
	background-color: #999999;
	vertical-align: top;
	padding-left: 7px;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
}

.headRight
{
	color: #FFF;
	background: #000;
	text-align: right;
}

.headStripe { background: #666; }

.homeTopBar
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	background-color: #333333;
	padding: 3px 10px 5px 10px;
}

.homeLogo
{
	background-color: #000000;
	color: #333333;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding: 0px 15px 0px 15px;
	margin: 0px 0px 0px 0px;
	text-align: left;
}

.homeRedBar
{
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	white-space: nowrap;
	background-color: #000;
	background-image: url(/i/redbv_lite_bg.gif);
	padding: 3px 10px 3px 10px;
	border-top: 4px solid #666666;
	border-bottom: 2px solid #000000;
}

.homeArrow
{
	padding: 10px 3px 0px 6px;
	text-align: right;
	vertical-align: middle;
}

.leftNavSpacer
{
	margin: 15px 0px 15px 0px;
	padding: 0px;
	text-align: left;
	vertical-align: top;
}

.homeBigPromo
{
	text-align: center;
	vertical-align: top;
	padding: 15px 15px 15px 15px;
}

.homeRightPromos
{
	color: #333333;
	padding: 15px 0px 15px 0px;
	text-align: right;
	vertical-align: top;
}

.homeClientPromo { padding: 0px 0px 10px 0px; }

.homeLeftCol
{
	color: #333333;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding: 0px;
	text-align: center;
	vertical-align: top;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
}

.homeCentCol
{
	color: #333333;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding: 0px;
	text-align: center;
	vertical-align: top;
	border-top: 1px solid #666666;
}

.homeRightCol
{
	color: #333333;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding: 0px;
	text-align: center;
	vertical-align: top;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}

.homeGutter { border-top: 1px solid #666666; }
.homeSmallPromo { border-bottom: 1px solid #666666; }

.homeTitle
{
	color: #990000;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	padding: 10px 0px 0px 0px;
	width: 100%;
	text-align: left;
	vertical-align: top;
}

A.homeTitleLink:link
{
	color: #CC0000;
	text-decoration: none;
}

A.homeTitleLink:visited
{
	color: #CC0000;
	text-decoration: none;
}

A.homeTitleLink:hover
{
	color: #CC0000;
	text-decoration: underline;
}

A.homeTitleLink:active
{
	color: #CC0000;
	text-decoration: underline;
}

.homeText
{
	color: #333333;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding: 0px 10px 10px 0px;
	text-align: left;
	vertical-align: top;
}

html, body
{
	background: #FFF;
	margin: 0px;
	border: 0px;
}

A.left:link
{
	color: #000;
	text-decoration: none;
}

A.left:visited
{
	color: #000;
	text-decoration: none;
}

A.left:hover
{
	color: #CC0000;
	text-decoration: underline;
}

A.left:active
{
	color: #CC0000;
	text-decoration: none;
}

A.leftOn:link
{
	color: #FFF;
	text-decoration: none;
}

A.leftOn:visited
{
	color: #FFF;
	text-decoration: none;
}

A.leftOn:hover
{
	color: #F00;
	text-decoration: underline;
}

A.leftOn:active
{
	color: #CC0000;
	text-decoration: none;
}

.leftColumn { background: #FFF; }
	#full-wrapper .leftColumn {
		float: left;
		/*width: 197px;*/
		width: 20%;
		height: 600px;
	}
	#full-wrapper .leftColumn table,
	#full-wrapper .leftColumn #nav-sidebar {
		float: right;
		margin-right: 1px;
	}
#leftNav
{
	color: #000;
	font-size: 12px;
	font-weight: bold;
	background-color: #E3E3E3;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #7D7D7D;
}

#leftNavApplet
{
	color: #000;
	font-size: 12px;
	font-weight: bold;
	background-color: #FC3;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #7D7D7D;
}

#leftNavOn
{
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background-image: url(/images/left_nav_select_bkgd.gif);
	background-color: #585858;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #585858;
}

#leftNavSelect
{
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background-color: #313131;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #313131;
}

#leftSubnav
{
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background-image: url(/images/left_nav_select_bkgd.gif);
	background-color: #585858;
	vertical-align: middle;
	padding-left: 15px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #585858;
}

#leftSubnavOn
{
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background-color: #313131;
	vertical-align: middle;
	padding-left: 15px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #313131;
}

#leftSubtitle
{
	color: #000;
	font-size: 12px;
	font-weight: bold;
	background-color: #CCCCCC;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #7D7D7D;
}

#leftNavTitle
{
	color: #000;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-color: #FFF;
	text-align:left;
}

.login
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
}

.loginCenter
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}

.loginForm { background-color: #666; }

A.loginLinks:link
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

A.loginLinks:visited
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

A.loginLinks:hover
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}

A.loginLinks:active
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}

.loginText
{
	color: #FFF;
	font-size: 11px;
	font-weight: bold;
}

A.loginText:link
{
	color: #FC3;
	text-decoration: none;
}

A.loginText:visited
{
	color: #FC3;
	text-decoration: none;
}

A.loginText:hover
{
	color: #333;
	text-decoration: none;
}

A.loginText:active
{
	color: #333;
	text-decoration: none;
}

.loginButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
}

.loginForm
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #000;
	font-style: normal;
	font-weight: normal;
	background-color: #FFF;
}

.loginTitle
{
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	background-color: #000;
	padding: 0px;
}

.middle
{
	background: #FFF;
	margin: 0px;
}

A.more:link
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
}

A.more:visited
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
}

A.more:hover
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}

A.more:active
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
}

.nonBreadcrumb { background-color: #000; }

.normal
{
	text-align: left;
	line-height: 18px;
}

.normalCenter
{
	text-align: center;
	line-height: 18px;
}

.normalHead
{
	font-size: 13px;
	color: #013466;
	font-weight: bold;
	text-align: left;
	line-height: 18px;
}

ol
{
	margin-left: 10px;
	margin-top: 0px;
	padding-left: 10px;
	padding-top: 0px;
}

ul
{
	margin-left: 10px;
	margin-top: 0px;
	padding-left: 10px;
	padding-top: 0px;
}

li
{
	list-style-type: square;
	line-height: 15px;
	padding-top: 2px;
	padding: 4px 0;
}

.pageDivider
{
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	background-color: #577998;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

pre
{
	font-size: 11px;
	color: #112832;
	line-height: normal;
	text-align: left;
}

/* PRESS Highlights */
.prHead
{
	color: #666;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.prText
{
	color: #000000;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	text-align: left;
}

.register { background-color: #9CC; }

.errorSymbol
{
	font-size: 11px;
	color: #CC0000;
	font-weight: bold;
	padding: 0px;
}

.registerForm, .registerElement, .registerError, .registerLabel, .registerLabelRequired, .registerButton, .registerSmall, .registerText, .registerTitle, .registerTextCenter
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #000;
	font-style: normal;
	font-weight: normal;
	text-align: left;
}

.registerError
{
	color: #CC0000;
	font-weight: bold;
}

.registerLabel { font-weight: bold; }

.registerLabelRequired
{
	font-weight: normal;
	color: #666666;
}

.registerButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	background-color: #777777;
}

.registerSmall { font-size: 10px; }
.registerTextCenter { text-align: center; }

.registerTitle
{
	font-size: 14px;
	font-weight: bold;
}

A.registerLinks:link
{
	color: #F90;
	text-decoration: none;
}

A.registerLinks:visited
{
	color: #F90;
	text-decoration: none;
}

A.registerLinks:hover
{
	color: #CCC;
	text-decoration: underline;
}

A.registerLinks:active
{
	color: #CCC;
	text-decoration: underline;
}

.rightColDisplay, .rightColOff, .rightColText
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	line-height: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.rightColOff
{
	color: #999;
	font-weight: bold;
}

.rightColDisplay
{
	font-size: 12px;
	color: #00F;
	font-weight: bold;
}

.search
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	background-color: #333333;
}

.searchButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	background-color: #000;
}

.searchForm
{
	font-size: 11px;
	color: #000;
	font-style: normal;
	font-weight: normal;
	width: 99px;
	*width: 103px;
}

.searchResults
{
	font-size: 12px;
	color: #777777;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.sidebarFrame { border: 1px solid #999999; }

.sidebarText, .sidebarTitle
{
	text-align: left;
	padding-left: 8px;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
}

.sidebarText
{
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	background-color: #EEEEEE;
}

.sidebarTitle
{
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #999999;
}

.small
{
	font-size: 10px;
	line-height: 12px;
}

#specialMessage
{
	color: #CC0000;
	font-size: 11px;
	font-weight: bold;
	background-color: #CC6;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.statText
{
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
}

A.statText:link
{
	color: #FC3;
	text-decoration: none;
}

A.statText:visited
{
	color: #B98B30;
	text-decoration: none;
}

A.statText:hover
{
	color: #999999;
	text-decoration: underline;
}

A.statText:active
{
	color: #999999;
	text-decoration: underline;
}

.statTextBig
{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

A.statTextBig:link
{
	color: #FC3;
	text-decoration: none;
}

A.statTextBig:visited
{
	color: #B98B30;
	text-decoration: none;
}

A.statTextBig:hover
{
	color: #999999;
	text-decoration: underline;
}

A.statTextBig:active
{
	color: #999999;
	text-decoration: underline;
}

.statTextLarge
{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

.statusIcon
{
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

strong { font-weight: bold; }

.subhead
{
	font-size: 18px;
	color: #013466;
	font-weight: bold;
	font-style: normal;
	background-image: url(../images/componentBkgd.gif);
	background-repeat: repeat-y;
	padding: 5px;
}

TD, TH
{
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	color: #000;
	text-decoration: none;
}

.terciaryNav
{
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	text-align: right;
}

A.terciaryOff:link
{
	color: #CC0000;
	font-weight: normal;
	text-decoration: none;
}

A.terciaryOff:visited
{
	color: #CC0000;
	font-weight: normal;
	text-decoration: none;
}

A.terciaryOff:hover
{
	color: #CC0000;
	font-weight: normal;
	text-decoration: underline;
}

A.terciaryOff:active
{
	color: #CC0000;
	font-weight: normal;
	text-decoration: underline;
}

A.terciaryOn:link
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}

A.terciaryOn:visited
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}

A.terciaryOn:hover
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
}

A.terciaryOn:active
{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}

.testFrame { border: 1px solid #999999; }

.testHead
{
	font-size: 18px;
	color: #666;
	font-weight: bold;
}

.testHead2
{
	font-size: 18px;
	color: #000;
}

.testHeadSmall
{
	font-size: 16px;
	color: #000;
}

.testTableEven
{
	font-size: 12px;
	color: #000;
	font-weight: normal;
	vertical-align: top;
	background-color: #EEE;
	white-space: nowrap;
}

.testTableOdd
{
	font-size: 12px;
	color: #000;
	font-weight: normal;
	vertical-align: top;
	background-color: #FFF;
	white-space: nowrap;
}

.testTableSubtitleEven
{
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	background-color: #EEE;
	white-space: nowrap;
}

.testTableSubtitleOdd
{
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	background-color: #FFF;
	white-space: nowrap;
}

.testTableTitle
{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	vertical-align: middle;
	background-image: url(/images/graybv_lite_bg.gif);
	background-color: #666;
	white-space: nowrap;
}

.testTableTitleSmall
{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	vertical-align: middle;
	background-color: #666;
	white-space: nowrap;
}

.testTop
{
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	color: #FFF;
	background-image: url(/images/graybv_lite_bg.gif);
	background-color: #666;
}

.topNavBar
{
	background-color: #900;
	background-image: url(../images/redbv_lite_bg.gif);
}

.topNav
{
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	white-space: nowrap;
	background-color: #900;
	background-image: url(../images/redbv_lite_bg.gif);
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
}

.topNavOn
{
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	white-space: nowrap;
	background-color: #600;
	background-image: url(../images/redbv_dark_bg.gif);
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
}

A.topLink:link
{
	color: #FFF;
	white-space: nowrap;
	text-decoration: none;
}

A.topLink:visited
{
	color: #FFF;
	white-space: nowrap;
	text-decoration: none;
}

A.topLink:hover
{
	color: #FC3;
	white-space: nowrap;
	text-decoration: none;
}

A.topLink:active
{
	color: #FC3;
	white-space: nowrap;
	text-decoration: none;
}

.topPage
{
	color: #000;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: right;
}

.topsTitle
{
	color: #000;
	font-size: 11px;
	font-weight: bold;
	background-color: #CCC;
	vertical-align: middle;
	padding: 4px 5px 4px 5px;
	border-bottom: 1px solid #7D7D7D;
}

.topsText
{
	color: #000;
	font-size: 11px;
	font-weight: bold;
	background-color: #E3E3E3;
	vertical-align: middle;
	padding: 4px 5px 4px 5px;
}

.version
{
	font-size: 17px;
	font-weight: normal;
	font-style: normal;
}

.viewMessages
{
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
}

/* STAT TABLE */
table.stat
{
	border: 1px solid #999;
	border-bottom: 7px solid #CCCCCC;
	vertical-align: top;
	padding: 0px;
}

table.stat td.title
{
	text-align: left;
	color: #FFFFFF;
	background: #777777;
	border: 1px solid #777777;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	white-space: nowrap;
}

table.stat td.header,table.stat td.headerC,table.stat td.headerR
{
	color: #FFF;
	background: #999999;
	border-top: 1px solid #CCCCCC;
	font-size: 12px;
	font-weight: bold;
	line-height: normal;
	padding: 2px 5px 2px 5px;
	vertical-align: middle;
}

table.stat td.headerC { text-align: center; }
table.stat td.headerR { text-align: right; }
table.stat tr.light { background-color: #FFFFFF; }
table.stat tr.dark { background-color: #EEEEEE; }

table.stat td.value, table.stat td.valueC, table.stat td.valueR
{
	font-size: 11px;
	padding: 5px;
	vertical-align: top;
	border-top: 1px solid #CCCCCC;
}

table.stat td.valueC { text-align: center; }
table.stat td.valueR { text-align: right; }

table.stat td.field
{
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	padding: 1px 5px 1px 5px;
	vertical-align: top;
}

table.stat td a:link { text-decoration: none; }
table.stat td a:visited { text-decoration: none; }
table.stat td a:hover { text-decoration: underline; }
table.stat td a:active { text-decoration: none; }

table.stat tr.highlight td.value, table.stat tr.highlight td.valueC, table.stat tr.highlight td.valueR
{
	font-weight: bold;
	border-top: 1px solid #0000FF;
	border-bottom: 1px solid #0000FF;
	background-color: #EEEEFF;
}

#nav-sidebar
{
	width: 148px;
	background-repeat: repeat-y;
	padding: 10px 0 0 0;
	margin: 0 0 0 48px;
	background-color: #FFFFFF;
	text-align: left;
}

#side-navigation
{
	list-style-type: none;
	width: 148px;
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}

#side-navigation li
{
	margin: 0;
	padding: 0;
	background-image: url(/images/nav-background.gif);
	list-style: none;
}

#side-navigation ul
{
	margin-top: 1px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}

#side-navigation ul li
{
	width: 148px;
	background-image: url(/images/secondary-nav-background.gif);
	left-margin: 0;
	left-padding: 0;
}

#side-navigation ul li ul
{
	margin-top: 0px;
	font-size: 11px;
}

#side-navigation li a, #side-navigation li a:visited
{
	color: #666;
	text-decoration: none;
	font-weight: bold;
	display: block;
	height: 25px;
	width: 138px;
	padding-left: 10px;
	padding-top: 12px;
}

.submenu li a
{
	font-size: 11px;
	padding-left: 10px;
	display: block;
	width: 138px;
	height: 21px !important;
	padding-top: 8px !important;
	border-bottom: 1px solid #c1c1c1;
}

.submenu li a, .submenu li a:visted { height:21px !important;font-size: 11px !important; }
#side-navigation li a:hover { color: #000; }
.top-li { background-image: url(/images/top-nav-background.gif); }
.sub-active {height:21px;}

.leftColumn
{
	background: #FFF;
	background-image: url(/images/fade-line.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

.minheight
{
	min-height: 450px;
	height: 450px;
}

hr { margin: 12px 0; }

a.top:link { color: #333; text-decoration: underline; }
a.top:visited { color: #333; text-decoration: underline; }
a.top:hover { text-decoration: underline; color: #CC0000; }
a.top:active { color: #333; text-decoration: underline; }

.login-table td
{
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Software Home Links */
a.linkage:link { color: #444; text-decoration: underline; }
a.linkage:visited { color: #000; text-decoration: underline; }
a.linkage:hover { text-decoration: underline; color: #CC0000; }
a.linkage:active { color: #444; text-decoration: underline; }