<?xml version ="1.0" ?>
<CMConfig>
	<Config name="ScaledScoreCalculator.accuracy.test">
		<Property name="default_scale">
			<Value>5</Value>
		</Property>
	</Config>

	<Config name="BinaryScoreCalculator.accuracy.test">
		<Property name="positive_answer">
			<Value>Pass</Value>
		</Property>
		<Property name="negative_answer">
			<Value>Fail</Value>
		</Property>
	</Config>

	<Config name="com.topcoder.management.review.scorecalculator.CalculationManager">
		<Property name="use_caching">
			<Value>true</Value>
		</Property>
		<Property name="builder_class">
			<Value>com.topcoder.management.review.scorecalculator.builders.DefaultScorecardMatrixBuilder</Value>
		</Property>
		<Property name="calculators">
			<Property name="binaryCalculator">
				<Property name="question_type">
					<Value>99990</Value>
				</Property>

				<Property name="class">
					<Value>com.topcoder.management.review.scorecalculator.calculators.BinaryScoreCalculator</Value>
				</Property>
			</Property>

			<Property name="scaledCalculator">
				<Property name="question_type">
					<Value>99991</Value>
				</Property>

				<Property name="class">
					<Value>com.topcoder.management.review.scorecalculator.calculators.ScaledScoreCalculator</Value>
				</Property>
			</Property>
		</Property>
	</Config>

	<Config name="CalculationManager.accuracy.test">
		<Property name="use_caching">
			<Value>true</Value>
		</Property>
		<Property name="builder_class">
			<Value>com.topcoder.management.review.scorecalculator.builders.DefaultScorecardMatrixBuilder</Value>
		</Property>
		<Property name="calculators">
			<Property name="binaryCalculator">
				<Property name="question_type">
					<Value>999992</Value>
				</Property>

				<Property name="class">
					<Value>com.topcoder.management.review.scorecalculator.calculators.BinaryScoreCalculator</Value>
				</Property>
			</Property>
		</Property>
	</Config>

</CMConfig>
