<?xml version="1.0"?>
<CMConfig>
    <Config name="com.topcoder.management.project.persistence.failuretests">
        <Property name="ConnectionName">
            <Value>informix</Value>
        </Property>
        <Property name="ProjectIdSequenceName">
            <Value>project_id_seq</Value>
        </Property>
        <Property name="ProjectAuditIdSequenceName">
            <Value>project_audit_id_seq</Value>
        </Property>
        <Property name="ConnectionFactoryNS">
            <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
        </Property>
    </Config>
    <Config name="Invalid_ConnectionName">
        <Property name="ConnectionName">
            <Value>invalid_conn</Value>
        </Property>
        <Property name="ProjectIdSequenceName">
            <Value>project_id_seq</Value>
        </Property>
        <Property name="ProjectAuditIdSequenceName">
            <Value>project_audit_id_seq</Value>
        </Property>
        <Property name="ConnectionFactoryNS">
            <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
        </Property>
    </Config>
    <Config name="com.topcoder.db.connectionfactory.DBConnectionFactoryImpl">
        <Property name="connections">
            <Property name="default">
                <Value>informix</Value>
            </Property>
            <Property name="invalid">
                <Property name="producer">
                    <Value>com.topcoder.management.project.persistence.failuretests.mock.MockConnectionProducer</Value>
                </Property>
                <Property name="parameters">
                </Property>
            </Property>
            <Property name="informix">
                <Property name="producer">
                    <Value>com.topcoder.db.connectionfactory.producers.JDBCConnectionProducer</Value>
                </Property>
                <Property name="parameters">
                    <Property name="jdbc_driver">
                        <Value>com.informix.jdbc.IfxDriver</Value>
                    </Property>
                    <Property name="jdbc_url">
                        <Value>jdbc:informix-sqli://59.66.77.226:1527/project:informixserver=test</Value>
                    </Property>
                    <Property name="user">
                        <Value>informix</Value>
                    </Property>
                    <Property name="password">
                        <Value>123456</Value>
                    </Property>
                </Property>
            </Property>
        </Property>
    </Config>
</CMConfig>
