<CMConfig>
    <Config name="com.topcoder.search.builder.accuracytests.1">
        <Property name="connectionFactory">
            <Property name="name">
                <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
            </Property>
        </Property>
        <Property name="searchFragmentFactoryNamespace">
            <Value>com.topcoder.search.builder.fragments</Value>
        </Property>
    </Config>

    <Config name="com.topcoder.search.builder.accuracytests.2">
        <Property name="connectionFactory">
            <Property name="name">
                <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
            </Property>
            <Property name="class">
                <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
            </Property>
        </Property>
        <Property name="connectionName">
            <Value>accuracy</Value>
        </Property>
        <Property name="searchFragmentFactoryNamespace">
            <Value>com.topcoder.search.builder.fragments</Value>
        </Property>

        <Property name="searchFragmentBuilders">
            <Property name="And">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.AndFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.AndFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Or">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.OrFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.OrFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Like">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.LikeFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.LikeFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Not">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.NotFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.NotFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="EqualTo">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.EqualToFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.EqualsFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="In">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.InFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.InFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Null">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.NullFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.NullFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="GreaterThan">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.GreaterThanFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="GreaterOrEqual">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.GreaterThanOrEqualToFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Between">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.BetweenFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="LessOrEqual">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.LessThanOrEqualToFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Less">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.LessThanFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.database.RangeFragmentBuilder</Value>
                </Property>
            </Property>
        </Property>

    </Config>

    <Config name="com.topcoder.search.builder.accuracytests.ldap">
        <Property name="host">
            <Value>localhost</Value>
        </Property>
        <Property name="port">
            <Value>389</Value>
        </Property>
        <Property name="baseDN">
            <Value>dc=guessant,dc=org</Value>
        </Property>
        <Property name="user">
            <Value>cn=Manager,dc=guessant,dc=org</Value>
        </Property>
        <Property name="password">
            <Value>secret</Value>
        </Property>
    </Config>

    <Config name="com.topcoder.db.connectionfactory.DBConnectionFactoryImpl">
        <Property name="connections">
            <Property name="default">
                <Value>accuracy</Value>
            </Property>
            <Property name="accuracy">
                <Property name="producer">
                    <Value>com.topcoder.db.connectionfactory.producers.JDBCConnectionProducer</Value>
                </Property>
                <Property name="parameters">
						<Property name="jdbc_driver">
							<Value>com.informix.jdbc.IfxDriver</Value>
						</Property>
						<Property name="jdbc_url">
							<Value>jdbc:informix-sqli://wb-x505:1526/tcs:INFORMIXSERVER=tcs</Value>
						</Property>
						<Property name="user">
							<Value>informix</Value>
						</Property>
						<Property name="password">
							<Value>informix</Value>
						</Property>
                </Property>
            </Property>
        </Property>
    </Config>

    <Config name="com.topcoder.search.builder.accuracytests.LDAPSearchStrategy">
        <!-- Property defining a specification for constructing the dbConnectionFactory to use. -->
        <Property name="connectionInfo">
            <!-- The namespace of the ConnectionFactory -->
            <Property name="classname">
                <Value>ldapConnectionInfo</Value>
            </Property>
            <Property name="identifier">
                <Value>DefaultInfo</Value>
            </Property>
        </Property>


        <Property name="connectionInfoFactoryNamespace">
            <Value>com.topcoder.search.builder.ldap.connInfo.factory</Value>
        </Property>


        <Property name="searchFragmentFactoryNamespace">
            <Value>com.topcoder.search.builder.fragments</Value>
        </Property>

        <Property name="searchFragmentBuilders">
            <Property name="And">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.AndFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.AndFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Or">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.OrFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.OrFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Like">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.LikeFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.LikeFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Not">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.NotFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.NotFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="EqualTo">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.EqualToFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.EqualsFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="In">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.InFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.InFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Null">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.NullFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.NullFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="GreaterThan">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.GreaterThanFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.RangeFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="GreaterOrEqual">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.GreaterThanOrEqualToFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.RangeFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Between">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.BetweenFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.RangeFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="LessOrEqual">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.LessThanOrEqualToFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.RangeFragmentBuilder</Value>
                </Property>
            </Property>

            <Property name="Less">
                <Property name="targetFilter">
                    <Value>com.topcoder.search.builder.filter.LessThanFilter</Value>
                </Property>
                <Property name="className">
                    <Value>com.topcoder.search.builder.ldap.RangeFragmentBuilder</Value>
                </Property>
            </Property>
        </Property>
    </Config>

    <Config name="com.topcoder.search.builder.ldap.connInfo.factory">

        <Property name="ldapConnectionInfo:DefaultInfo">
            <Property name="type">
                <Value>com.topcoder.search.builder.ldap.LDAPConnectionInformation</Value>
            </Property>
            <Property name="params">
                <Property name="param1">
                    <Property name="name">
                        <Value>LDAPSDKFactory</Value>
                    </Property>
                </Property>
                <Property name="param2">
                    <Property name="type">
                        <Value>String</Value>
                    </Property>
                    <Property name="value">
                        <Value>localhost</Value>
                    </Property>
                </Property>
                <Property name="param3">
                    <Property name="type">
                        <Value>int</Value>
                    </Property>
                    <Property name="value">
                        <Value>389</Value>
                    </Property>
                </Property>
                <Property name="param4">
                    <Property name="type">
                        <Value>boolean</Value>
                    </Property>
                    <Property name="value">
                        <Value>false</Value>
                    </Property>
                </Property>
                <Property name="param5">
                    <Property name="type">
                        <Value>int</Value>
                    </Property>
                    <Property name="value">
                        <Value>1</Value>
                    </Property>
                </Property>
                <Property name="param6">
                    <Property name="type">
                        <Value>String</Value>
                    </Property>
                    <Property name="value">
                        <Value>cn=Manager,dc=guessant,dc=org</Value>
                    </Property>
                </Property>
                <Property name="param7">
                    <Property name="type">
                        <Value>String</Value>
                    </Property>
                    <Property name="value">
                        <Value>secret</Value>
                    </Property>
                </Property>
            </Property>
        </Property>

        <Property name="LDAPSDKFactory">
            <Property name="type">
                <Value>com.topcoder.util.net.ldap.sdkinterface.LDAPSDK</Value>
            </Property>
            <Property name="params">
                <Property name="param1">
                    <Property name="type">
                        <Value>String</Value>
                    </Property>
                    <Property name="value">
                        <Value>com.topcoder.util.net.ldap.sdkinterface.netscape.NetscapeFactory</Value>
                    </Property>
                </Property>
            </Property>
        </Property>
    </Config>

    <Config name="com.topcoder.search.builder.fragments">
    </Config>

    <Config name="com.topcoder.searchbuilder">
        <Property name="searchBundles">
            <Property name="DatabaseSearchBundle">
                <Property name="type">
                    <Value>Database</Value>
                </Property>
                <Property name="name">
                    <Value>FirstSearchBundle</Value>
                </Property>
                <Property name="context">
                    <Value>Select * from people where</Value>
                </Property>

                <Property name="DBNamcespace">
                    <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
                </Property>
                <Property name="connectionProducerName">
                    <Value>accuracy</Value>
                </Property>
                <Property name="alias">
                    <Property name="The ID">
                        <Value>peopleID</Value>
                    </Property>
                    <Property name="The name">
                        <Value>peopleName</Value>
                    </Property>
                    <Property name="The age">
                        <Value>age</Value>
                    </Property>
                    <Property name="The wight">
                        <Value>wight</Value>
                    </Property>
                </Property>
            </Property>
            <Property name="LDAPSearchBundle">
                <Property name="type">
                    <Value>LDAP</Value>
                </Property>
                <Property name="name">
                    <Value>SecondSearchBundle</Value>
                </Property>
                <Property name="context">
                    <Value>dc=guessant,dc=org</Value>
                </Property>
                <Property name="host">
                    <Value>localhost</Value>
                </Property>
                <Property name="port">
                    <Value>389</Value>
                </Property>
                <Property name="isSecure">
                    <Value>false</Value>
                </Property>
                <Property name="scope">
                    <Value>1</Value>
                </Property>
                <Property name="dnroot">
                    <Value>cn=Manager,dc=topcoder,dc=com</Value>
                </Property>
                <Property name="password">
                    <Value>secret</Value>
                </Property>
                <Property name="LDAP">
                    <Value>com.topcoder.util.net.ldap.sdkinterface.netscape.NetscapeFactory</Value>
                </Property>
                <Property name="alias">
                    <Property name="buyer">
                        <Value>Buyer Name</Value>
                    </Property>
                    <Property name="sn">
                        <Value>sn</Value>
                    </Property>
                    <Property name="sb">
                        <Value>searchbuild</Value>
                    </Property>
                    <Property name="seller">
                        <Value>Sell Name</Value>
                    </Property>
                </Property>
            </Property>
        </Property>
    </Config>


    <Config name="com.topcoder.search.builder">
        <Property name="searchStrategyFactoryNamespace">
            <Value>com.topcoder.search.builder.strategy.factory</Value>
        </Property>

        <Property name="fieldValidatorFactoryNamespace">
            <Value>com.topcoder.search.builder.validator.factory</Value>
        </Property>

        <Property name="searchBundles">

            <Property name="FirstSearchBundle">
                <Property name="searchStrategy">
                    <Property name="class">
                        <Value>dbStrategy</Value>
                    </Property>
                </Property>
                <Property name="context">
                    <Value>Select * from people where</Value>
                </Property>
                <Property name="alias">
                    <Property name="The ID">
                        <Value>peopleID</Value>
                    </Property>
                    <Property name="The name">
                        <Value>peopleName</Value>
                    </Property>
                    <Property name="The age">
                        <Value>age</Value>
                    </Property>
                    <Property name="The weight">
                        <Value>weight</Value>
                    </Property>
                </Property>
                <Property name="searchableFields">
                    <Property name="age">
                        <Property name="validator">
                            <Property name="class">
                                <Value>validator</Value>
                            </Property>
                            <Property name="identifier">
                                <Value>default</Value>
                            </Property>
                        </Property>
                    </Property>
                    <Property name="weight">
                        <Property name="validator">
                            <Property name="class">
                                <Value>validator</Value>
                            </Property>
                            <Property name="identifier">
                                <Value>default</Value>
                            </Property>
                        </Property>
                    </Property>
                </Property>
            </Property>

            <Property name="SecondSearchBundle">
                <Property name="searchableFields">
                    <Property name="sn">
                        <Property name="validator">
                            <Property name="class">
                                <Value>validator</Value>
                            </Property>
                            <Property name="identifier">
                                <Value>default</Value>
                            </Property>
                        </Property>
                    </Property>
                    <Property name="sb">
                        <Property name="validator">
                            <Property name="class">
                                <Value>validator</Value>
                            </Property>
                            <Property name="identifier">
                                <Value>default</Value>
                            </Property>
                        </Property>
                    </Property>
                </Property>
                <Property name="searchStrategy">
                    <Property name="class">
                        <Value>ldapStrategy</Value>
                    </Property>
                </Property>
                <Property name="context">
                    <Value>dc=guessant,dc=org</Value>
                </Property>
                <Property name="alias">
                    <Property name="buyer">
                        <Value>Buyer Name</Value>
                    </Property>
                    <Property name="sn">
                        <Value>sn</Value>
                    </Property>
                    <Property name="sb">
                        <Value>searchbuild</Value>
                    </Property>
                    <Property name="seller">
                        <Value>Sell Name</Value>
                    </Property>
                </Property>
            </Property>
        </Property>
    </Config>

    <Config name="com.topcoder.search.builder.validator.factory">
        <Property name="validator:default">
            <Property name="type">
                <Value>com.topcoder.search.builder.accuracytests.DefaultValidator</Value>
            </Property>
        </Property>
    </Config>


    <Config name="com.topcoder.search.builder.strategy.factory">
        <Property name="ldapStrategy">
            <Property name="type">
                <Value>com.topcoder.search.builder.ldap.LDAPSearchStrategy</Value>
            </Property>
            <Property name="params">
                <Property name="param1">
                    <Property name="type">
                        <Value>String</Value>
                    </Property>
                    <Property name="value">
                        <Value>com.topcoder.search.builder.accuracytests.LDAPSearchStrategy</Value>
                    </Property>
                </Property>
            </Property>
        </Property>
        <Property name="dbStrategy">
            <Property name="type">
                <Value>com.topcoder.search.builder.database.DatabaseSearchStrategy</Value>
            </Property>
            <Property name="params">
                <Property name="param1">
                    <Property name="type">
                        <Value>String</Value>
                    </Property>
                    <Property name="value">
                        <Value>com.topcoder.search.builder.accuracytests.2</Value>
                    </Property>
                </Property>
            </Property>
        </Property>
    </Config>

    <Config name="DataBase.Connection">
        <Property name="parameters">
						<Property name="jdbc_driver">
							<Value>com.informix.jdbc.IfxDriver</Value>
						</Property>
						<Property name="jdbc_url">
							<Value>jdbc:informix-sqli://wb-x505:1526/tcs:INFORMIXSERVER=tcs</Value>
						</Property>
						<Property name="user">
							<Value>informix</Value>
						</Property>
						<Property name="password">
							<Value>informix</Value>
						</Property>
        </Property>
    </Config>

</CMConfig>
