# TopCoder Software Component Development Environment

# Properties to automatically start/stop Jboss. Supposed to be used mostly for Continuos Integration server
# update_db=uncomment to reinstall db on each redeploy
jdk_home=<<path to jdk>>
bind_addr=127.0.0.1
jnp_port=1099
jboss_heap_size=512m
db_scripts_path=<<path to db scripts>>
sleep_before_stopping=10

# The location of the deployment directory for JBoss server.
JBOSS_HOME=<<path_to_jboss>>

# remote deploy information
scp_path=<<path to scp or pscp>>
scp_username=tcs
scp_password=<<password>
scp_keyfile=<<full path fo scp key>>
scp_remoteserver=<<remote server ip>>
scp_remotejboss=<<remove jboss path>>

# SVN credentials
or.svn.username=<<svn username>>
or.svn.password=<<svn password>>
# or.svn.update=uncomment this line to allow update through ant on each compile
