<p>
Contest\: <a href\="https\://software.topcoder.com/review/actions/ViewProjectDetails?pid\=%PROJECT_ID%">%PROJECT_NAME% %PROJECT_VERSION%</a><br/>
Deliverable\: <a href\="https\://software.topcoder.com/review/actions/EditLateDeliverable?late_deliverable_id\=%LATE_DELIVERABLE_ID%">%DELIVERABLE_NAME%</a><br/>
</p>
<p>
Your final fixes have failed the review.<br/>
You can view the details and explain it <a href\="https\://software.topcoder.com/review/actions/EditLateDeliverable?late_deliverable_id\=%LATE_DELIVERABLE_ID%">here</a>.
You have time to explain the late deliverable by %EXPLANATION_DEADLINE%.
</p>
<p>
You are getting this email because your final fixes have failed the review and the contest is now back into the Final Fix phase.
If you have any question, please read the <a href\="http\://www.topcoder.com/wiki/x/UwBSAw">Late Deliverables Tracking</a> wiki page or contact us at support@topcoder.com.
</p>
<p>
Thank you,<br/>
TopCoder Software.
</p>