<p>
Contest\: <a href\="https\://software.topcoder.com/review/actions/ViewProjectDetails.do?method\=viewProjectDetails&amp;pid\=%PROJECT_ID%">%PROJECT_NAME% %PROJECT_VERSION%</a><br/>
Deliverable\: %DELIVERABLE_NAME%<br/>
Deadline\: %DEADLINE%<br/>
Your current delay is\: %DELAY%<br/>
</p>
<p>
Your %DELIVERABLE_NAME% is late, please submit it as soon as possible.<br/>
You can view the details of the late deliverable and explain it <a href\="https\://software.topcoder.com/review/actions/EditLateDeliverable.do?method\=editLateDeliverable&amp;late_deliverable_id\=%LATE_DELIVERABLE_ID%">here</a>.
</p>
<p>
You are getting this email because you have missed the current deadline for the Online Review project.
If you have any question, please read the <a href\="http\://www.topcoder.com/wiki/x/UwBSAw">Late Deliverables Tracking</a> wiki page or contact us at support@topcoder.com.
</p>
<p>
Thank you,<br/>
TopCoder Software.
</p>