<CMConfig>
    <!-- Namespace for DBConnectionFactory component -->
    <Config name="com.topcoder.db.connectionfactory.DBConnectionFactoryImpl">
        <Property name="connections">
            <Property name="default">
                <Value>informix_connection</Value>
            </Property>
            <Property name="informix_connection">
                <Property name="producer">
                    <Value>com.topcoder.db.connectionfactory.producers.JDBCConnectionProducer</Value>
                </Property>
                <Property name="parameters">
                    <Property name="jdbc_driver">
                        <Value>com.informix.jdbc.IfxDriver</Value>
                    </Property>
                    <Property name="jdbc_url">
                        <Value>jdbc:informix-sqli://localhost:9088/tc:informixserver=ol_svr_custom</Value>
                    </Property>
                    <Property name="user">
                        <Value>informix</Value>
                    </Property>
                    <Property name="password">
                        <Value>123456</Value>
                    </Property>
                </Property>
            </Property>
        </Property>
    </Config>
    
    <!-- Namespace for InformixProjectPersistence class -->
  <Config name="InformixProjectPersistence.CustomNamespace">
    <!-- The DBConnectionFactory class name used to create DB Connection Factory, required -->
    <Property name="ConnectionFactoryNS">
        <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
    </Property>
    <!-- the connection name to retrieve connection in DB Connection Factory, required -->
    <Property name="ConnectionName">
        <Value>informix_connection</Value>
    </Property>
    <Property name="ProjectIdSequenceName">
        <Value>project_id_seq</Value>
    </Property>
    <Property name="ProjectAuditIdSequenceName">
        <Value>project_audit_id_seq</Value>
    </Property>
 </Config>

</CMConfig>
