/* GENERAL SITE STYLES */
html, body {
font-family: Arial, Helvetica, Verdana, sans-serif;
line-height: 1.4;
font-size: 12px;
color: #333333;
background-color: #FFFFFF;
padding: 0px;
margin: 0px;
}
img { border: none }
A:link { color: #00F; text-decoration: underline; }
A:visited { color: #006; text-decoration: underline; }
A:hover, A:active { color: #F00; }
ul{ margin-left: 10px; padding-left: 10px;}
li{ padding-top: 2px; padding-bottom: 2px; }
.noSpace{ margin: 0px; padding: 0px; }
table { empty-cells: show;}
td, th{ font-family: Arial, Helvetica, Verdana, sans-serif; color: #333333; text-decoration: none; line-height: 1.4; font-size: 12px; }
H1, H2, H3{ font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 200%; text-decoration: none; }
H2 { font-size: 150%; }
H3 { font-size: 125%; }
.small{ font-size: 10px; }

A.prevNext:link { color: #00F; text-decoration: none; }
A.prevNext:visited { color: #006; text-decoration: none; }
A.prevNext:hover, A:active { color: #F00; }

.footer
{
font-size: 11px;
color: #666666;
font-weight: normal;
font-style: normal;
text-align: center;
white-space: nowrap;
background: #EEEEEE;
padding-top: 5px;
padding-bottom: 5px;
}
.footerStripe { background: #CCC; }
A.footerLinks:link{ color: #00F; text-decoration: none; }
A.footerLinks:visited { color: #006; text-decoration: none; }
A.footerLinks:hover { color: #F00; text-decoration: underline; }
A.footerLinks:active { color: #F00; text-decoration: underline; }
.copyright
{
font-size: 10px;
color: #000;
font-weight: normal;
font-style: normal;
text-align: center;
white-space: nowrap;
background: #FFF;
padding-top: 4px;
padding-bottom: 15px;
}

.pageTitleTable{ border: 0px; margin: 5px 0px 15px 0px; }
.pageTitle
{
width: 100%;
border-bottom: 1px solid #666666;
white-space: nowrap;
padding: 0px;
margin: 0px;
}
.pageSubtitle
{
color: #333333;
font-size: 12px;
font-weight: bold;
white-space: nowrap;
text-align: right;
vertical-align: bottom;
border-bottom: 1px solid #666666;
padding: 0px 0px 3px 0px;
margin: 0px;
}
/* BODY TEXT STYLES */
.bodyText
{
color: #333333;
font-size: 12px;
font-weight: normal;
font-style: normal;
}
span.title {
font-size: 160%;
text-decoration: none;
font-weight: bold;
}
span.subtitle, span.bodySubtitle {
font-size: 14px;
font-weight: bold;
}
span.bigRed{ color: #F00; font-size: 12px; font-weight: bold; text-decoration: none; }
A.bigRed:link, A.bigRed:visited, A.bigRed:active { color: #FF0000; text-decoration: underline; }
A.bigRed:hover { color: #000000; text-decoration: underline;}

td.bodyColumn{ padding: 0px 15px 40px 15px; vertical-align: top; }

div.fixedWidthBody{ 
width: 510px;
padding: 0px;
margin: 0px auto 0px auto;
text-align: left;
}
div.maxWidthBody {
max-width: 950px;
min-width: 735px;
/* only recognized by IE, unfortunately it invalidates CSS */
/* if the body is wider than 1000, this div is 950, otherwise auto */
width: expression( document . body . clientWidth > 1000 ? "950px": "auto" );
margin: 0px 10px 20px 10px;
}
div.sectionHeader{
text-align: left;
background: #999999 url(../i/stats/headerBG.gif) top center;
border: 1px solid #999999; 
font-size: 12px;
font-weight: bold;
text-decoration: none;
padding: 3px 5px 3px 5px;
margin-bottom: 10px;
white-space: nowrap;
}
div.bodyIndented{padding-left:15px;}

/* STAT TABLE */
table.stat {
border: 1px solid #999;
border-bottom: 7px solid #CCCCCC;
vertical-align: top;
padding: 0px;
}
table.stat td.title {
text-align: left;
background-color: #999999;
background-image: url(../i/stats/headerBG.gif);
border-bottom: 1px solid #999999; 
font-size: 12px;
font-weight: bold;
text-decoration: none;
padding: 3px 5px 3px 5px;
white-space: nowrap;
}
table.stat td.header,table.stat td.headerC,table.stat td.headerR {
color: #000000;
font-size: 11px;
font-weight: bold;
line-height: 14px;
padding: 2px 5px 2px 5px;
background-color: #DDDDDD;
vertical-align: middle;
}
table.stat td.headerC { text-align: center }
table.stat td.headerR { text-align: right }
table.stat tr.light { background-color: #FFFFFF }
table.stat tr.dark { background-color: #EEEEEE }
table.stat td.value, table.stat td.valueC, table.stat td.valueR
{
font-size: 11px;
padding: 1px 5px 1px 5px;
vertical-align: top;
}
table.stat td.valueC { text-align: center; }
table.stat td.valueR { text-align: right; }

table.stat td.field {
color: #000000;
font-weight: bold;
font-size: 11px;
padding: 1px 5px 1px 5px;
vertical-align: top;
}
table.stat td a:link { text-decoration: none; }
table.stat td a:visited { text-decoration: none; }
table.stat td a:hover { text-decoration: underline; }
table.stat td a:active { text-decoration: none; }
table.stat tr.highlight td.value, table.stat tr.highlight td.valueC, table.stat tr.highlight td.valueR
{ 
font-weight: bold;
border-top: 1px solid #0000FF; 
border-bottom: 1px solid #0000FF; 
background-color: #EEEEFF;
}
td.valueRed, td.valueYellow, td.valueBlue, td.valueGreen, td.valueGray { 
font-weight:bold;
font-size:125%;
text-align:center;
}
td.valueRed{background:#FBBFBF; color:#EE0000;}
td.valueYellow{background:#F6F2BF; color:#DDCC00;}
td.valueBlue{background:#D9D9FF; color:#6666FF;}
td.valueGreen{background:#BFE9BF; color:#00A900;}
td.valueGray{background:#E5E5E5; color:#999999;}

/* LEFT NAV */
#navbar, div.leftColContent {
float: left;
clear: both;
background: #353E44 url(../i/interface/leftnav_bg.gif) center right repeat-y;
font-size: 11px;
font-weight: bold;
width: 185px; /* width of whole left column is content width + padding */
padding: 0px 0px 0px 0px;
margin: 0px;
}
#navbar li.highlight a:link, #navbar li.highlight a:visited, #navbar li.highlight a:hover {
background-color: #990000;
color: #FFFFFF;
}
#navbar ul {
padding: 0px 0px 0px 3px;
margin: 0px;
float: left;
clear: both;
}
#navbar ul li.title {
text-align: right;
font-weight: bold;
padding: 0px 4px 0px 5px;
margin: 0px;
border-bottom: 1px solid #CCCCCC;
}
#navbar ul li {
width: 182px;
float: left;
clear: both;
list-style-type: none;
background: transparent;
padding: 0px 0px 0px 0px;
margin: 0px;
}
#navbar ul li ul {
display: none;
padding: 0px;
margin: 0px;
border: 0px;
}
#navbar ul.OPEN {
display: block;
padding-bottom: 8px;
}
#navbar ul.CLOSED {
display: none;
padding-bottom: 0px;
}



/* LEFT NAV */
#navbar, div.leftColContent {
float: left;
clear: both;
background: #353E44 url(../i/interface/leftnav_bg.gif) center right repeat-y;
font-size: 11px;
font-weight: bold;
width: 185px; /* width of whole left column is content width + padding */
padding: 0px 0px 0px 0px;
margin: 0px;
}
#navbar ul {
padding: 0px 0px 0px 3px;
margin: 0px;
float: left;
clear: both;
}
#navbar ul li.title {
text-align: right;
font-weight: bold;
padding: 0px 4px 0px 5px;
margin: 0px;
border-bottom: 1px solid #CCCCCC;
}
#navbar ul li {
width: 182px;
float: left;
clear: both;
list-style-type: none;
background: transparent;
padding: 0px 0px 0px 0px;
margin: 0px;
}
#navbar ul li ul {
display: none;
padding: 0px;
margin: 0px;
border: 0px;
}
#navbar ul.OPEN {
display: block;
padding-bottom: 8px;
}
#navbar ul.CLOSED {
display: none;
padding-bottom: 0px;
}
#navbar li.highlight a:link, #navbar li.highlight a:visited, #navbar li.highlight a:hover {
background-color: #990000;
color: #FFFFFF;
}
#navbar li.exp li a:link,
#navbar li.exp li a:visited,
#navbar li.exp li a:hover,
#navbar li.exp li a:active,
#navbar li.exp li li a:link,
#navbar li.exp li li a:visited,
#navbar li.exp li li a:hover,
#navbar li.exp li li a:active
#navbar li.exp li li li a:link,
#navbar li.exp li li li a:visited,
#navbar li.exp li li li a:hover,
#navbar li.exp li li li a:active,
#navbar li.exp_ed li a:link,
#navbar li.exp_ed li a:visited,
#navbar li.exp_ed li a:hover,
#navbar li.exp_ed li a:active,
#navbar li.exp_ed li li a:link,
#navbar li.exp_ed li li a:visited,
#navbar li.exp_ed li li a:hover,
#navbar li.exp_ed li li a:active,
#navbar li.exp_ed li li li a:link,
#navbar li.exp_ed li li li a:visited,
#navbar li.exp_ed li li li a:hover,
#navbar li.exp_ed li li li a:active
{
background-image: none;
}
#navbar li.exp a:link,
#navbar li.exp a:visited,
#navbar li li.exp a:link,
#navbar li li.exp a:visited,
#navbar li li li.exp a:link,
#navbar li li li.exp a:visited {
background-image: url(../i/interface/exp.gif);
background-repeat: no-repeat;
background-position: 1px 50%;
}
#navbar li.exp a:hover,
#navbar li li.exp a:hover,
#navbar li li li.exp a:hover {
background-image: url(../i/interface/exp_w.gif);
}
#navbar li.exp_ed a:link,
#navbar li.exp_ed a:visited,
#navbar li li.exp_ed a:link,
#navbar li li.exp_ed a:visited,
#navbar li li li.exp_ed a:link,
#navbar li li li.exp_ed a:visited {
background-image: url(../i/interface/exp_ed.gif);
background-repeat: no-repeat;
background-position: 1px 50%;
}
#navbar li.exp_ed a:hover,
#navbar li li.exp_ed a:hover,
#navbar li li li.exp_ed a:hover { 
background-image: url(../i/interface/exp_ed_w.gif);
}
#navbar li a:link, #navbar li a:visited {
float: left;
font-size: 12px;
line-height: 100%;
color: #FFCC33;
text-decoration: none;
margin: 0px 15px 0px 0px;
padding: 3px 10px 3px 10px;
}
#navbar li li a:link, #navbar li li a:visited {
color: #DDDDDD;
font-size: 12px;
margin: 0px 15px 0px 5px;
padding: 5px 10px 5px 10px;
}
#navbar li li li a:link, #navbar li li li a:visited {
color: #BBBBBB;
font-size: 11px;
margin: 0px 15px 0px 12px;
padding: 5px 10px 5px 10px;
}
#navbar li li li li a:link, #navbar li li li li a:visited {
color: #999999;
font-size: 11px;
margin: 0px 15px 0px 20px;
}
#navbar li a:hover, #navbar li li a:hover, #navbar li li li a:hover, #navbar li li li li a:hover  {
color: #000000;
background-color: #FFFFFF;
}
#navbarSearch
{
color: #FFFFFF;
float: left; 
clear: left; 
margin: 20px 0px 10px 3px;
padding: 5px 0px 0px 3px;
border-top: 1px solid #999999;
white-space: nowrap; 
}
a.gMetal:link { color:#FFCC33;text-decoration: none; }
a.gMetal:visited { color:#CC9933;text-decoration: none; }
a.gMetal:hover { color:#AAAAAA;text-decoration: underline; }
a.gMetal:active { color:#AAAAAA;text-decoration: underline; }

div.leftColContent, div.leftColContent td {
color: #FFFFFF;
}
div.rightColContent{ width:170px; }