####################################################################### 
# TopCoder Software Online Review Application Development Environment #
#######################################################################

##############################################################################
# The location of the deployment directory for JBoss server. If you ever     #
# execute ant with "deploy" target, set this property to the correct value.  #
# Otherwise you may ignore it (say, if you copy the WAR file by hand).       #
##############################################################################
JBOSS_HOME=<<path_to_jboss>>

#############################
# remote deploy information #
#############################
scp_path=<<path to scp or pscp>>
scp_username=tcs
scp_password=<<password>
scp_keyfile=<<full path fo scp key>>
scp_remoteserver=<<remote server ip>>
scp_remotejboss=<<remove jboss path>>


###################
# SVN credentials #
###################
build.svn.username=<<svn username>>
build.svn.password=<<svn password>>
# build.svn.update=uncomment this line to allow update through ant on each compile


##################################################################################
# The online_review_home is the directory where the development distribution for #
# Online Review application is checked to                                        #
##################################################################################
online_review_home=<<Path to local dev distribution of Online Review application>>


###########################################################################
# The tcs_libdir is the location of all TopCoder Software component jars. #
###########################################################################
tcs_libdir=${online_review_home}/lib/tcs


#####################################################
# The ext_libdir is the location of 3rd party jars. #
#####################################################
ext_libdir=${online_review_home}/lib/third_party


############################################################################
# The shared_libdir is the location of all TopCoder shared component jars. #
############################################################################
shared_libdir=${online_review_home}/lib/shared


###########################
# Properties to run tests #
###########################
selenium_port=5555