<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC
	"-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
	"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

	<!-- A servlet that redirects users to the home page. -->
	<servlet>
		<servlet-name>Redirector</servlet-name>
		<servlet-class>topcoder.RedirectorServlet</servlet-class>
	</servlet>
	<!-- Turn off invoker. Send requests to index.jsp. -->
	<servlet-mapping>
		<servlet-name>Redirector</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>

	<!-- If URL gives a directory but no filename, try index.jsp
	first and index.html second. If neither is found,
	the result is server specific (e.g., a directory
	listing). -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Protect financial plan. Employees or executives. -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Financial Plan</web-resource-name>
			<url-pattern>/financial.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>employee</role-name>
			<role-name>executive</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Protect business plan. Executives only. -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Business Plan</web-resource-name>
			<url-pattern>/business.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>executive</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Tell the server to use BASIC authentication. -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Intranet</realm-name>
	</login-config>

	<security-role>
    <role-name>executive</role-name>
  </security-role>
	<security-role>
    <role-name>employee</role-name>
  </security-role>
</web-app>