<?xml version="1.0"?>
<CMConfig>
        <!-- Configuration persistence -->
    <Config name="com.topcoder.util.scheduler.scheduling.persistence.accuracy">
        <Property name="jobName07">
            <Property name="StartDate">
                <Value>May 5, 2007 05:00:00 AM</Value>
            </Property>
            <Property name="StartTime">
                <Value>3000000</Value>
            </Property>
            <Property name="EndDate">
                <Value>May 5, 2007 05:00:00 AM</Value>
            </Property>
            <Property name="JobType">
                <Value>JOB_TYPE_EXTERNAL</Value>
            </Property>
            <Property name="JobCommand">
                <Value>dir</Value>
            </Property>
            <Property name="Active">
                <Value>True</Value>
            </Property>
            <Property name="Recurrence">
                <Value>5</Value>
            </Property>
            <Property name="Interval">
                <Property name="Value">
                    <Value>2</Value>
                </Property>
                <Property name="Unit">
                    <Property name="Type">
                        <Value>com.topcoder.util.scheduler.scheduling.Week</Value>
                    </Property>
                </Property>
            </Property>
            <Property name="ModificationDate">
                <Value>Jan 5, 2007 05:00:00 AM</Value>
            </Property>
        </Property>
        <Property name="newJobName01">
        <!-- a job only has a dependence -->
            <Property name="JobType">
                <Value>JOB_TYPE_JAVA_CLASS</Value>
            </Property>
            <Property name="JobCommand">
                <Value>com.topcoder.util.scheduler.scheduling.MyJob</Value>
            </Property>
            <Property name="Active">
                <Value>True</Value>
            </Property>
            <Property name="ModificationDate">
                <Value>Jan 5, 2007 05:00:00 AM</Value>
            </Property>
            <Property name="Recurrence">
                <Value>4</Value>
            </Property>
            <Property name="Interval">
                <Property name="Value">
                    <Value>2</Value>
                </Property>
                <Property name="Unit">
                    <Property name="Type">
                        <Value>com.topcoder.util.scheduler.scheduling.Week</Value>
                    </Property>
                </Property>
            </Property>
            <Property name="Dependence">
                <Property name="jobName07">
                    <Property name="Status">
                        <Value>SUCCESSFUL</Value>
                    </Property>
        <!-- can be SUCCESSFUL, FAILED or BOTH -->
                    <Property name="Delay">
                        <Value>10000</Value>
                    </Property>
                </Property>
            </Property>
            <Property name="Messages">
                <Property name="SUCCESSFUL">
                    <Property name="TemplateText">
                        <Value>
    Hi,
    This email notifies you that the job %JobName% has the status %JobStatus% now...
    					</Value>
                    </Property>
                    <Property name="Recipients">
                        <Value>rec1@topcoder.com</Value>
                        <Value>rec2@topcoder.com</Value>
                    </Property>
                    <Property name="FromAddress">
                        <Value>admin@topcoder.com</Value>
                    </Property>
                    <Property name="Subject">
                        <Value>Notification</Value>
                    </Property>
                </Property>
                <Property name="FAILED">
                    <Property name="TemplateText">
                        <Value>
    Hi,
    This email notifies you that the job %JobName% has the status %JobStatus% now...
              </Value>
                    </Property>
                    <Property name="Recipients">
                        <Value>rec1@topcoder.com</Value>
                        <Value>rec2@topcoder.com</Value>
                    </Property>
                    <Property name="FromAddress">
                        <Value>admin@topcoder.com</Value>
                    </Property>
                    <Property name="Subject">
                        <Value>Notification</Value>
                    </Property>
                </Property>
                <Property name="NOT_STARTED">
                    <Property name="TemplateText">
                        <Value>
    Hi,
    This email notifies you that the job %JobName% has the status %JobStatus% now...
    					</Value>
                    </Property>
                    <Property name="Recipients">
                        <Value>rec1@topcoder.com</Value>
                    </Property>
                    <Property name="FromAddress">
                        <Value>admin@topcoder.com</Value>
                    </Property>
                    <Property name="Subject">
                        <Value>Notification</Value>
                    </Property>
                </Property>
            </Property>
        </Property>
        <Property name="DefinedGroups">
            <Property name="group_1">
        <!-- group name -->
        <!-- must have one job -->
                <Property name="Jobs">
                    <Value>jobName07</Value>
                    <Value>newJobName01</Value>
                </Property>
                <Property name="Messages">
                    <Property name="SUCCESSFUL">
                        <Property name="TemplateText">
                            <Value>
    Hi,
    This email notifies you that the job %JobName% has the status %JobStatus% now...
    						</Value>
                        </Property>
                        <Property name="Recipients">
                            <Value>rec1@topcoder.com</Value>
                            <Value>rec2@topcoder.com</Value>
                        </Property>
                        <Property name="FromAddress">
                            <Value>admin@topcoder.com</Value>
                        </Property>
                        <Property name="Subject">
                            <Value>Notification</Value>
                        </Property>
                    </Property>
                    <Property name="FAILED">
                        <Property name="TemplateText">
                            <Value>
    Hi,
    This email notifies you that the job %JobName% has the status %JobStatus% now...
    						</Value>
                        </Property>
                        <Property name="Recipients">
                            <Value>rec1@topcoder.com</Value>
                            <Value>rec2@topcoder.com</Value>
                        </Property>
                        <Property name="FromAddress">
                            <Value>admin@topcoder.com</Value>
                        </Property>
                        <Property name="Subject">
                            <Value>Notification</Value>
                        </Property>
                    </Property>
                    <Property name="NOT_STARTED">
                        <Property name="TemplateText">
                            <Value>
    Hi,
    This email notifies you that the job %JobName% has the status %JobStatus% now...
    						</Value>
                        </Property>
                        <Property name="Recipients">
                            <Value>rec1@topcoder.com</Value>
                        </Property>
                        <Property name="FromAddress">
                            <Value>admin@topcoder.com</Value>
                        </Property>
                        <Property name="Subject">
                            <Value>Notification</Value>
                        </Property>
                    </Property>
                </Property>
            </Property>
        </Property>
    </Config>
    <Config name="com.topcoder.util.scheduler.scheduling.persistence.DBScheduler.accuracy">
        <Property name="ConnectionFactoryClassName">
            <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
        </Property>
        <Property name="ConnectionFactoryNamespace">
            <Value>com.topcoder.db.connectionfactory.DBConnectionFactoryImpl</Value>
        </Property>
        <Property name="ConnectionName">
            <Value>informix_connect</Value>
        </Property>
        <Property name="IDGenSeqName">
            <Value>job</Value>
        </Property>
        <Property name="Logger">
            <Value>MyLogger</Value>
        </Property>
    </Config>
    <Config name="com.topcoder.db.connectionfactory.DBConnectionFactoryImpl">
        <Property name="connections">
            <Property name="default">
                <Value>informix_connect</Value>
            </Property>
            <Property name="informix_connect">
                <Property name="producer">
                    <Value>com.topcoder.db.connectionfactory.producers.JDBCConnectionProducer</Value>
                </Property>
                <Property name="parameters">
                    <Property name="jdbc_driver">
                        <Value>com.informix.jdbc.IfxDriver</Value>
                    </Property>
                    <Property name="jdbc_url">
                        <Value>jdbc:informix-sqli://china-341p5r2im:1526/test:informixserver=ol_vpc</Value>
                    </Property>
                    <Property name="user">
                        <Value>informix</Value>
                    </Property>
                    <Property name="password">
                        <Value>tcs</Value>
                    </Property>
                </Property>
            </Property>
        </Property>
    </Config>
        <!-- Logger releated configuration-->
    <Config name="com.topcoder.util.log">
        <Property name="logClass">
            <Value>com.topcoder.util.log.basic.BasicLog</Value>
        </Property>
        <Property name="basic.log.target">
            <Value>System.out</Value>
        </Property>
    </Config>
</CMConfig>
